    h1{
       color : rgb(224, 190, 36)
       
        }
        
.header{
    background-color: rgb(78, 219, 196);
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display : flex;
    justify-content: flex-end;
}
